@{
    ViewBag.PageTitle = "The Photos";
}
@section AddToHead{
    <link href="@Url.Content("~/Content/theme/supersized.shutter.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/supersized.css")" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.easing.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/supersized.3.2.7.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/theme/supersized.shutter.min.js")"></script>
    
<script type="text/javascript">
    jQuery(function ($) {
        $.supersized({
    	    slide_interval: 3000,
    	    transition: 1, 
    	    fit_always: 1,
    	    transition_speed: 700,
    	    slide_links: 'blank',
    	    image_path: '@Url.Content("~/Content/img/thephotos/gallery-framework/")',
    	    slides: [
					    { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2102.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2102 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2111.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2111 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2121.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2121 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2128.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2128 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2138.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2138 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2147.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2147 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2159.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2159 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2163.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2163 (Custom).jpg")' },        
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2171.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2171 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2179.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2179 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2181.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2181 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2184.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2184 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2188.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2188 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2197.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2197 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2076.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2076 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2077.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2077 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2083.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2083 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2084.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2084 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2086.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2086 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2090.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2090 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2093.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2093 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2201.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2201 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2205.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2205 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2211.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2211 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2217.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2217 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2219.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2219 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2220.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2220 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2221.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2221 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2224.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2224 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2225.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2225 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2228.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2228 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2229.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2229 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2231.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2231 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2233.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2233 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2247.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2247 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2248.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2248 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2253.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2253 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2256.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2256 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2259.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2259 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2280.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2280 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2295.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2295 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2302.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2302 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2313.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2313 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2318.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2318 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2328.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2328 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2331.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2331 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2335.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2335 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2337.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2337 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2344.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2344 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2345.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2345 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2347.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2347 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2349.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2349 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2353.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2353 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2357.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2357 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2365.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2365 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2366.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2366 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2372.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2372 (Custom).jpg")' },
                        { image: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2374.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/canapes/J_K-2374 (Custom).jpg")' }
				    ]
        });
    });
</script>

}


<div id="nav-back">
    <a href="@Url.Content("~/Photos")">
        <img src="@Url.Content("~/Content/img/thephotos/backtophotos.png")" />
    </a>
    <br />
    <a href="http://www.peterdphoto.com.au/">
        <img src="@Url.Content("~/Content/img/thephotos/backtophotos.png")" />
    </a>
</div>


<!--Thumbnail Navigation-->
<div id="prevthumb"></div>
<div id="nextthumb"></div>
	
<!--Arrow Navigation-->
<a id="prevslide" class="load-item"></a>
<a id="nextslide" class="load-item"></a>
	
<div id="thumb-tray" class="load-item">
	<div id="thumb-back"></div>
	<div id="thumb-forward"></div>
</div>
	
<!--Time Bar-->
<div id="progress-back" class="load-item">
	<div id="progress-bar"></div>
</div>
	
<!--Control Bar-->
<div id="controls-wrapper" class="load-item">
	<div id="controls">
			
		<a id="play-button"><img alt="pause" id="pauseplay" src="@Url.Content("~/Content/img/thephotos/gallery-framework/pause.png")"/></a>
		
		<!--Slide counter-->
		<div id="slidecounter">
			<span class="slidenumber"></span> / <span class="totalslides"></span>
		</div>
			
		<!--Slide captions displayed here-->
		<div id="slidecaption"></div>
			
		<!--Thumb Tray button-->
		<a id="tray-button"><img alt="more/less" id="tray-arrow" src="@Url.Content("~/Content/img/thephotos/gallery-framework/button-tray-up.png")"/></a>
			
		<!--Navigation-->
		<ul id="slide-list"></ul>
			
	</div>
</div>
