@{
    ViewBag.PageTitle = "The Photos - Day Before";
}
@section AddToHead{
    <link href="@Url.Content("~/Content/theme/supersized.shutter.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/supersized.css")" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.easing.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/supersized.3.2.7.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/theme/supersized.shutter.min.js")"></script>
    
<script type="text/javascript">
    jQuery(function ($) {
        $.supersized({
    	    slide_interval: 3000,
    	    transition: 1, fit_always: 1,
    	    transition_speed: 700,
    	    slide_links: 'blank',
    	    image_path: '@Url.Content("~/Content/img/thephotos/gallery-framework/")',
    	    slides: [
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0004.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0004 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0006.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0006 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0007.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0007 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0008.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0008 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0011.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0011 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0017.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0017 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0018-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0018-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0024.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0024 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0027-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0027-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0030.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0030 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0032-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0032-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0033.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0033 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0035-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0035-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0039.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0039 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0041.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0041 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0044.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0044 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0053.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0053 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0057.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0057 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0059.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0059 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0064.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0064 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0067.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0067 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0069.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0069 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0070.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0070 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0072.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0072 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0073.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0073 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0075.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0075 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0079.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0079 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0082.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0082 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0083.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0083 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0089-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0089-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0089.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0089 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0090.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0090 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0093.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0093 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0098.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0098 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0103.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0103 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0105-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0105-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0105.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0105 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0109.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0109 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0111.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0111 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0116.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0116 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0123.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0123 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0125-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0125-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0127.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0127 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0133.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0133 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0142.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0142 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0146.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0146 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0149.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0149 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0152.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0152 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0153.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0153 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0156.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0156 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0158.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0158 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0164.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0164 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0168.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0168 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0171-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0171-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0177.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0177 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0182.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0182 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0183.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/daybefore/J_K-0183 (Custom).jpg")' }
				    ]
        });
    });
</script>

}


<div id="nav-back">
    <a href="@Url.Content("~/Photos")">
        <img src="@Url.Content("~/Content/img/thephotos/backtophotos.png")" />
    </a>
</div>


<!--Thumbnail Navigation-->
<div id="prevthumb"></div>
<div id="nextthumb"></div>
	
<!--Arrow Navigation-->
<a id="prevslide" class="load-item"></a>
<a id="nextslide" class="load-item"></a>
	
<div id="thumb-tray" class="load-item">
	<div id="thumb-back"></div>
	<div id="thumb-forward"></div>
</div>
	
<!--Time Bar-->
<div id="progress-back" class="load-item">
	<div id="progress-bar"></div>
</div>
	
<!--Control Bar-->
<div id="controls-wrapper" class="load-item">
	<div id="controls">
			
		<a id="play-button"><img alt="pause" id="pauseplay" src="@Url.Content("~/Content/img/thephotos/gallery-framework/pause.png")"/></a>
		
		<!--Slide counter-->
		<div id="slidecounter">
			<span class="slidenumber"></span> / <span class="totalslides"></span>
		</div>
			
		<!--Slide captions displayed here-->
		<div id="slidecaption"></div>
			
		<!--Thumb Tray button-->
		<a id="tray-button"><img alt="more/less" id="tray-arrow" src="@Url.Content("~/Content/img/thephotos/gallery-framework/button-tray-up.png")"/></a>
			
		<!--Navigation-->
		<ul id="slide-list"></ul>
			
	</div>
</div>
