@{
    ViewBag.PageTitle = "The Photos - Dinner";
}
@section AddToHead{
    <link href="@Url.Content("~/Content/theme/supersized.shutter.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/supersized.css")" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.easing.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/supersized.3.2.7.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/theme/supersized.shutter.min.js")"></script>
    
<script type="text/javascript">
    jQuery(function ($) {
        $.supersized({
    	    slide_interval: 3000,
    	    transition: 1, fit_always: 1,
    	    transition_speed: 700,
    	    slide_links: 'blank',
    	    image_path: '@Url.Content("~/Content/img/thephotos/gallery-framework/")',
    	    slides: [

                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2390.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2390 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2391.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2391 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2384.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2384 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2392.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2392 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2395.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2395 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2396.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2396 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2402.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2402 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2406.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2406 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2411.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2411 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2412.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2412 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2413.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2413 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2416.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2416 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2422.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2422 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2425.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2425 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2429.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2429 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2430.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2430 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2432.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2432 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2433.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2433 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2436.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2436 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2443.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2443 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2453.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2453 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2454.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2454 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2458.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2458 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2460.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2460 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2461.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2461 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2463.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2463 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2469.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2469 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2474.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2474 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2481.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2481 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2486.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2486 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2488.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2488 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2500.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2500 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2510.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2510 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2514-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2514-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2521.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2521 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2522.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2522 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2537.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2537 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2544.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2544 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2546.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2546 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2557.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2557 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2565.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2565 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2569.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2569 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2571.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2571 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2576.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2576 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2584.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2584 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2586.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2586 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2589.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2589 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2651.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2651 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2652.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2652 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2657.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2657 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2663.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2663 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2664.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2664 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2667.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2667 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2668.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2668 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2669.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2669 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2673.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2673 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2675.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2675 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2678.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2678 (Custom).jpg")' }
				    ]
        });
    });
</script>

}


<div id="nav-back">
    <a href="@Url.Content("~/Photos")">
        <img src="@Url.Content("~/Content/img/thephotos/backtophotos.png")" />
    </a>
</div>


<!--Thumbnail Navigation-->
<div id="prevthumb"></div>
<div id="nextthumb"></div>
	
<!--Arrow Navigation-->
<a id="prevslide" class="load-item"></a>
<a id="nextslide" class="load-item"></a>
	
<div id="thumb-tray" class="load-item">
	<div id="thumb-back"></div>
	<div id="thumb-forward"></div>
</div>
	
<!--Time Bar-->
<div id="progress-back" class="load-item">
	<div id="progress-bar"></div>
</div>
	
<!--Control Bar-->
<div id="controls-wrapper" class="load-item">
	<div id="controls">
			
		<a id="play-button"><img alt="pause" id="pauseplay" src="@Url.Content("~/Content/img/thephotos/gallery-framework/pause.png")"/></a>
		
		<!--Slide counter-->
		<div id="slidecounter">
			<span class="slidenumber"></span> / <span class="totalslides"></span>
		</div>
			
		<!--Slide captions displayed here-->
		<div id="slidecaption"></div>
			
		<!--Thumb Tray button-->
		<a id="tray-button"><img alt="more/less" id="tray-arrow" src="@Url.Content("~/Content/img/thephotos/gallery-framework/button-tray-up.png")"/></a>
			
		<!--Navigation-->
		<ul id="slide-list"></ul>
			
	</div>
</div>
