@{
    ViewBag.PageTitle = "ThePhotos";
}

<div id="pageTitleContainer" class="clearfix" >
    <div class="leftFlower"></div>
    <div id="pageTitle">
        <h2>THE</h2>
        <h1>PHOTOS</h1>
    </div>
    <div class="rightFlower" ></div>
</div>

<div class="clearfix">
    
    <div class="photoDivider beforeDay">
        <div class="hr"></div>
        <div>Before the Day</div>
        <div class="hr"></div>
    </div>
    <div class="clearfix">
        <div class="photoGalleryOption">
            <div class="galleryIcon dayBeforeIcon"></div>
            @Html.ActionLink("The Day Before", "DayBefore")
        </div>

        <div class="photoGalleryOption">
            <div class="galleryIcon gettingReadyGuysIcon"></div>
            @Html.ActionLink("Getting Ready - Guys", "GettingReadyBoys")
        </div>
    
        <div class="photoGalleryOption">
            <div class="galleryIcon gettingReadyGalsIcon"></div>
            @Html.ActionLink("Getting Ready - Gals", "GettingReadyGirls")
        </div>
    </div>
    <div class="photoDivider photoShoots">
        <div class="hr"></div>
        <div>Photo Shoots</div>
        <div class="hr"></div>
    </div>
    <div class="clearfix">
        <div class="photoGalleryOption">
            <div class="galleryIcon firstLookIcon"></div>
            @Html.ActionLink("First Look", "FirstLook")
        </div>

        <div class="photoGalleryOption">
            <div class="galleryIcon photoShootIcon"></div>
            @Html.ActionLink("PhotoShoot", "PhotoShoot")
        </div>
    
        <div class="photoGalleryOption">
            <div class="galleryIcon preceremonyIcons"></div>
            @Html.ActionLink("Pre-Ceremony", "PreCeremony")
        </div>
    </div>
    <div class="photoDivider ceremony">
        <div class="hr"></div>
        <div>Ceremony</div>
        <div class="hr"></div>
    </div>
    <div class="clearfix">
        <div class="photoGalleryOption">
            <div class="galleryIcon ceremonyIcons"></div>
            @Html.ActionLink("The Ceremony", "Ceremony")
        </div>

        <div class="photoGalleryOption">
            <div class="galleryIcon canapesIcon"></div>
            @Html.ActionLink("Canapes", "Canapes")
        </div>

        <div class="photoGalleryOption">
            <div class="galleryIcon photoBoothIcon"></div>
            @Html.ActionLink("PhotoBooth", "PhotoBooth")
        </div>
    </div>
    <div class="photoDivider reception">
        <div class="hr"></div>
        <div>Reception</div>
        <div class="hr"></div>
    </div>
    <div class="clearfix">
        <div class="photoGalleryOption">
            <div class="galleryIcon dinnerIcon"></div>
            @Html.ActionLink("Dinner", "Dinner")
        </div>

        <div class="photoGalleryOption">
            <div class="galleryIcon speechesIcon"></div>
            @Html.ActionLink("Speeches", "Speeches")
        </div>
    
        <div class="photoGalleryOption">
            <div class="galleryIcon partyIcon"></div>
            @Html.ActionLink("Party!", "Party")
        </div>
    </div>
    
    <a id="AllPhotos" href="@Url.Content("~/Content/img/thephotos/thephotos.zip")" alt="Download All Images" title="Download All Images"></a>
    
</div>