@{
    ViewBag.PageTitle = "The Photos - Party!";
}
@section AddToHead{
    <link href="@Url.Content("~/Content/theme/supersized.shutter.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/supersized.css")" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.easing.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/supersized.3.2.7.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/theme/supersized.shutter.min.js")"></script>
    
<script type="text/javascript">
    jQuery(function ($) {
        $.supersized({
    	    slide_interval: 3000,
    	    transition: 1, fit_always: 1,
    	    transition_speed: 700,
    	    slide_links: 'blank',
    	    image_path: '@Url.Content("~/Content/img/thephotos/gallery-framework/")',
    	    slides: [
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2919.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2919 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2922.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2922 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2923-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2923-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2924.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2924 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2925-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2925-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2930.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2930 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2931-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2931-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2933.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2933 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2934.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2934 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2937-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2937-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2939-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2939-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2940.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2940 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2941.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2941 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2944.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2944 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2945.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2945 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2947-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2947-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2951.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2951 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2954.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2954 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2960.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2960 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2963.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2963 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2971.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2971 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2975-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2975-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2977.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2977 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2982.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2982 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2984-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2984-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2985.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2985 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2989.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2989 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2998.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2998 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-2999.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-2999 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3001.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3001 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3002.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3002 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3005.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3005 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3006-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3006-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3008.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3008 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3010.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3010 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3016.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3016 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3017-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3017-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3018.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3018 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3021.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3021 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3022-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3022-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3024.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3024 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3027.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3027 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3029.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3029 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3031.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3031 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3034.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3034 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3038.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3038 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3041.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3041 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3042.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3042 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3045.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3045 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3046.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3046 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3047.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3047 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3048.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3048 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3050.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3050 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3051.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3051 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3053-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3053-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3055-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3055-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3056.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3056 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3060.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3060 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3062.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3062 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3063.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3063 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3067.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3067 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3069.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3069 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3073.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3073 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3075.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3075 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3079.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3079 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3082.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3082 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3083.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3083 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3091.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3091 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3092.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3092 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3101.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3101 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3103.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3103 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3105.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3105 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3112.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3112 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3118.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3118 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3124.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3124 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3126-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3126-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3128.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3128 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3130.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3130 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3132.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3132 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3133.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3133 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3134.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3134 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3135.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3135 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3136-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3136-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3137.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3137 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3139.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3139 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3140.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3140 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3143.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3143 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3149-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3149-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3150.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3150 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3151.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3151 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3155-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3155-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3161.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3161 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3163.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3163 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3165.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3165 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3166.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3166 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3167-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3167-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3172.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3172 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3175.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3175 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3176.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3176 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3179.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3179 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3183.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3183 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3186.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3186 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3188.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3188 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3192.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3192 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3193-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3193-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/reception/J_K-3194.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/reception/J_K-3194 (Custom).jpg")' }
				    ]
        });
    });
</script>

}


<div id="nav-back">
    <a href="@Url.Content("~/Photos")">
        <img src="@Url.Content("~/Content/img/thephotos/backtophotos.png")" />
    </a>
</div>


<!--Thumbnail Navigation-->
<div id="prevthumb"></div>
<div id="nextthumb"></div>
	
<!--Arrow Navigation-->
<a id="prevslide" class="load-item"></a>
<a id="nextslide" class="load-item"></a>
	
<div id="thumb-tray" class="load-item">
	<div id="thumb-back"></div>
	<div id="thumb-forward"></div>
</div>
	
<!--Time Bar-->
<div id="progress-back" class="load-item">
	<div id="progress-bar"></div>
</div>
	
<!--Control Bar-->
<div id="controls-wrapper" class="load-item">
	<div id="controls">
			
		<a id="play-button"><img alt="pause" id="pauseplay" src="@Url.Content("~/Content/img/thephotos/gallery-framework/pause.png")"/></a>
		
		<!--Slide counter-->
		<div id="slidecounter">
			<span class="slidenumber"></span> / <span class="totalslides"></span>
		</div>
			
		<!--Slide captions displayed here-->
		<div id="slidecaption"></div>
			
		<!--Thumb Tray button-->
		<a id="tray-button"><img alt="more/less" id="tray-arrow" src="@Url.Content("~/Content/img/thephotos/gallery-framework/button-tray-up.png")"/></a>
			
		<!--Navigation-->
		<ul id="slide-list"></ul>
			
	</div>
</div>
