@{
    ViewBag.PageTitle = "The Photos - PhotoShoot";
}
@section AddToHead{
    <link href="@Url.Content("~/Content/theme/supersized.shutter.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/supersized.css")" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.easing.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/supersized.3.2.7.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/theme/supersized.shutter.min.js")"></script>
    
<script type="text/javascript">
    jQuery(function ($) {
        $.supersized({
    	    slide_interval: 3000,
    	    transition: 1, 
    	    fit_always: 1,
    	    transition_speed: 700,
    	    slide_links: 'blank',
    	    image_path: '@Url.Content("~/Content/img/thephotos/gallery-framework/")',
    	    slides: [
                   { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0955.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0955 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0957.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0957 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0960.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0960 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0965.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0965 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0972.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0972 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0975-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0975-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0975.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0975 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0977.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0977 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0981-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0981-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0981.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0981 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0993.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0993 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0994.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-0994 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1001.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1001 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1006.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1006 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1008.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1008 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1016.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1016 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1021.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1021 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1040.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1040 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1043.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1043 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1049.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1049 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1050.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1050 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1052.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1052 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1054-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1054-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1054.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1054 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1056.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1056 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1058-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1058-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1058.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1058 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1059.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1059 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1063.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1063 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1068-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1068-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1068.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1068 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1071.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1071 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1073-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1073-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1073.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1073 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1077.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1077 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1080.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1080 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1085.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1085 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1086.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1086 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1088.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1088 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1102.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1102 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1111.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1111 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1113.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1113 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1115.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1115 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1127.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1127 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1130.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1130 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1138.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1138 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1143.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1143 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1150.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1150 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1153-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1153-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1156.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1156 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1162-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1162-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1169.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1169 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1179.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1179 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1187-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1187-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1196.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1196 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1198.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1198 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1201-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1201-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1205.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1205 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1206.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1206 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1212.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1212 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1222.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1222 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1225.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1225 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1231-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1231-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1234.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1234 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1238.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1238 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1244.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1244 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1248.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1248 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1249.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1249 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1252.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1252 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1255.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1255 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1266.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1266 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1267.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1267 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1271-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1271-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1273.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1273 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1275.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1275 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1277.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1277 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1280-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1280-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1286.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1286 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1292.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1292 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1304.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1304 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1307-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1307-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1311.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1311 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1312.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1312 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1313.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1313 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1319.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1319 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1330.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1330 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1334.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1334 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1342.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1342 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1344-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1344-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1346.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1346 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1351.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1351 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1353.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1353 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1377.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1377 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1383-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1383-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1388.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1388 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1393.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1393 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1394-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1394-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1398.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1398 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1401-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1401-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1405.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1405 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1408.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1408 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1412.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1412 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1416.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1416 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1423-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1423-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1428.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1428 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1435.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1435 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1437.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1437 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1443-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1443-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1448.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1448 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1469.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1469 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1473.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1473 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1491.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1491 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1499.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1499 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1501.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1501 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1502.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1502 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1504.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1504 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1507.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1507 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1508.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1508 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1511.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1511 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1513-B_W.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1513-B_W (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1517.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1517 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1519.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1519 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1531.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1531 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1534.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1534 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1544.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1544 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1546.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1546 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1553.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1553 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1572.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1572 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1575.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1575 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1581.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1581 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1589.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1589 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1596.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1596 (Custom).jpg")' },
                    { image: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1606.jpg")', thumb: '@Url.Content("~/Content/img/thephotos/photoshoot/J_K-1606 (Custom).jpg")' }


				    ]
        });
    });
</script>

}


<div id="nav-back">
    <a href="@Url.Content("~/Photos")">
        <img src="@Url.Content("~/Content/img/thephotos/backtophotos.png")" />
    </a>
</div>


<!--Thumbnail Navigation-->
<div id="prevthumb"></div>
<div id="nextthumb"></div>
	
<!--Arrow Navigation-->
<a id="prevslide" class="load-item"></a>
<a id="nextslide" class="load-item"></a>
	
<div id="thumb-tray" class="load-item">
	<div id="thumb-back"></div>
	<div id="thumb-forward"></div>
</div>
	
<!--Time Bar-->
<div id="progress-back" class="load-item">
	<div id="progress-bar"></div>
</div>
	
<!--Control Bar-->
<div id="controls-wrapper" class="load-item">
	<div id="controls">
			
		<a id="play-button"><img alt="pause" id="pauseplay" src="@Url.Content("~/Content/img/thephotos/gallery-framework/pause.png")"/></a>
		
		<!--Slide counter-->
		<div id="slidecounter">
			<span class="slidenumber"></span> / <span class="totalslides"></span>
		</div>
			
		<!--Slide captions displayed here-->
		<div id="slidecaption"></div>
			
		<!--Thumb Tray button-->
		<a id="tray-button"><img alt="more/less" id="tray-arrow" src="@Url.Content("~/Content/img/thephotos/gallery-framework/button-tray-up.png")"/></a>
			
		<!--Navigation-->
		<ul id="slide-list"></ul>
			
	</div>
</div>
