@model IEnumerable<BobKatRegistry.Models.RegistryItem>

@{
    ViewBag.Title = "Index";
    ViewBag.PageTitle = "theregistry";
}

<script src="@Url.Content("~/Content/js/pages/RegistryItem.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/vendor/jQuery.placeholder.shim.1.0.js")" type="text/javascript"></script>
<div id="pageTitleContainer" class="clearfix" >
    <div class="leftFlower"></div>
    <div id="pageTitle">
        <h2>THE</h2>
        <h1>REGISTRY</h1>
    </div>
    <div class="rightFlower" ></div>
</div>

<div class="clearfix topBuffer">&nbsp;</div>

<div id="ifYouLoveUs">(If you love us)</div>
<div id="explanation">
    So what do you get for the bride and groom? <br/> 
    To make it easy, <span class="italic">(and more nerdy)</span> below is a list of our favourite things that are available online. 
    If you would prefer a shopping free option,a monetary gift would also be truly appreciated.

</div>

<div id="registryItems" class="clearfix">
    
    @{
        var counter = 0;
    }
    @foreach (var item in Model) {
        
        <div class="registryItem">
            <div class="itemImage">
                <a href="@Html.DisplayTextFor(modelItem => item.Url)">
                    <img src="@Url.Content(Html.DisplayTextFor(modelItem => item.ImageUrlDefaultHash).ToString())" alt="@Html.DisplayTextFor(modelitem => item.Name)" />
                </a>
            </div>
            <div class="itemName">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="itemCost">
                PRICE: $@Html.DisplayTextFor(modelItem => item.Price)
            </div>
        
            <div class="itemUrl">
                <a href="@Html.DisplayTextFor(modelItem => item.Url)" target="_blank">You can find me here</a>
            </div>
            <div class="itemPayUrl">
                <a href="@Html.DisplayTextFor(modelItem => item.PaymentUrl)" target="_blank">You can purchase me here</a>
            </div>
        
            
            @if (item.People.Count == 0)
            {
                <div class="purchaseButton">
                    <a class="getThis">I'LL GET THIS</a>
                    <div class="confirmPurchase">
                        <input type="text" id="initial" class="initial"  placeholder="Init" placeholder-enabled />
                        <input type="text" id="lastName" class="lastName"  placeholder="Last Name" placeholder-enabled />
                        <a class="confirmButton">CONFIRM</a>
                        <a class="cancelButton">CANCEL</a>
                        <input type="hidden" class="registryItemId" value="@item.RegistryItemId" />
                    </div>
                    <span class="message"></span>
                </div>
            }
            else
            {
                <div class="whoHasThis">
                    RESERVED BY ANOTHER GUEST
                </div>
            }
            
        </div>

        counter++;
        if (counter % 2 == 0)
        {
            <div class="clearfix">&nbsp;</div>    
        }
    }
</div>